/* Global styles */
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Chat app styles */
.chat-container {
  height: 100vh;
  display: flex;
  flex-direction: column; /* Add flex-direction */
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Remove justify-content */
  background: #363940; 
}

.chat-app-container {
  display: none;
  height: 100%;
  background: #363940;
}

.chat-header {
  background-color: #007bff;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-header h1 {
  font-size: 1.5em;
  margin: 0;
}

.chat-header button {
  padding: 10px;
  margin: 10px;
  font-size: 1.2em;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.chat-header button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.chat-main {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.chat-sidebar {
  width: 200px;
  color: #fff;
  padding: 10px;
  background: #212226;
}

.chat-sidebar h2 {
  font-size: 1.2em;
  margin: 0;
}

.chat-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-sidebar li {
  padding: 10px;
  margin: 10px 0;
  font-size: 1.2em;
  cursor: pointer;
}

.chat-sidebar li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.chat-window {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

input{
  width: 79%;
  border: none;
  border-radius: 10px;
}

button{
  width: 20%;
  border: none;
  border-radius: 10px;
  background: #007bff;
}

#message-list {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 10px;
}

#message-list div {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

#message-list .message-sent {
  background-color: #007bff;
  color: #fff;
  align-self: flex-end;
}

#message-list .message-received {
  background: Great;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .chat-sidebar {
    display: none;
    width: 0;
  }
  
  .chat-main {
    flex-direction: column;
  }
  
  #message-list {
    overflow-y: auto;
  }
}

@media screen and (min-width: 769px) {
  .chat-header {
    padding: 1rem 2rem;
  }
  
  .chat-sidebar {
    display: block;
  }
}